 <!-- About Section -->
    <section style="padding: 30px 0 30px 0; background-color: #fff;" class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div>
                        <img style="margin: 0 auto;" class="img-responsive" src="img/clic-estude.svg"/>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div>
                        <img style="margin: 0 auto;" class="img-responsive" src="img/logo-canapi.svg"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
