
    <!-- Portfolio Grid Section -->
    <section style="background-color: #8fc841; color: #fff; padding: 30px 0;" id="portfolio">
        <div class="container">
           <div class="col-lg-12">
               <div class="row">
                    <div style="display: inline-block;">
                        <div class="col-md-2"><img style="margin: 0 auto" class="img-responsive" src="img/prof.png"/></div>
                        <div class="col-md-10">
                            <h3 style="margin: 5px 0 0 0">Professores</h3>
                            <p align="justify">Os melhores professores, formando uma equipe altamente qualificada, sempre disponível e com o objetivo de ajudar você a se preparar para o futuro!</p>
                        </div>
                    </div>
                    <div style="display: inline-block;">
                        <div class="col-md-2"><img style="margin: 0 auto" class="img-responsive" src="img/adap.png"/></div>
                        <div class="col-md-10">
                            <h3 style="margin: 5px 0 0 0">Plataforma de ensino adaptativo</h3>
                            <p align="justify">Plataforma contendo aulas, simulados e outras questões para praticar. As interações do aluno são registradas gerando relatórios que permitem avaliar o processo de aprendizagem, possibilitando oferecer conteúdos e tarefas personalizadas para suprir as carências observadas. Também disponibiliza acesso para os diferentes tipos de usuário: gestor, professor, aluno e responsável.  </p>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-2"><img style="margin: 0 auto" class="img-responsive" src="img/video.png"/></div>
                        <div class="col-md-10">
                            <h3 style="margin: 5px 0 0 0">videoaulas</h3>
                            <p align="justify">As videoaulas estão formatadas de modo claro e objetivo. Há resoluções de questões selecionadas de edições anteriores da Prova Brasil, destacando os principais conteúdos cobrados por tais avalições e o melhor modo de responder a elas. </p>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </section>
